# fly.toml app configuration file generated for sertifikatsok on 2023-07-15T16:59:01+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sertifikatsok"
primary_region = "arn" # Stockholm
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
cmd = ["--host", "0.0.0.0", "--port", "8080"]
auto_rollback = true

[[services]]
protocol = "tcp"
internal_port = 8080
processes = ["app"]

[[services.ports]]
port = 80
handlers = ["http"]
force_https = true

[[services.ports]]
port = 443
handlers = ["tls", "http"]

[services.concurrency]
type = "connections"
hard_limit = 25
soft_limit = 20

[services.ports.http_options]
h2_backend = true

[[services.tcp_checks]]
interval = "15s"
timeout = "2s"
grace_period = "1s"
restart_limit = 0
