[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bonsai = ">=1.0.0"
cryptography = ">=2.4.2"
attrs = ">=21.3.0"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-asyncio = "*"
ldaptor = "*"

[requires]
python_version = "3.11"
