/* from https://fonts.googleapis.com/icon?family=Material+Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(external/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* sertifikatsok.no css */
html {
  overflow-y: scroll;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.collapsible-header {
  display: block;
}

.stashed-html {
  display: none;
}

/*
  Materializecss has a modal max height of 70 %
  and that's a bit to small for the certificate display
  so we override it here
*/
.cert-modal {
  max-height: 94%;
  width: 70%;
  top: 3% !important;
}

.pem {
  font: 10pt Courier New, sans-serif;
  padding: 2px 20px
}

/*
  The string modal is used to display PEM in front of the cert modal,
  so it must always be in front
*/
.string-modal {
  z-index: 20000 !important;
}

.link-text {
  cursor: pointer;
  display: inline-block;
}
