[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bonsai = ">=1.0.0"
aiohttp = "*"
cryptography = ">=2.4.2"
uvloop = "*"
attrs = ">=21.3.0"
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
aiohttp-swagger = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-simplify = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
