[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bonsai = "*"
aiohttp = "*"
cryptography = ">=2.3"
uvloop = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
mypy = "*"
aiohttp-swagger = "*"

[pipenv]
allow_prereleases = true
