[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bonsai = ">=1.0.0"
aiohttp = "*"
cryptography = ">=2.4.2"
uvloop = "*"
aiotask-context = "*"
attrs = "*"

[dev-packages]
pytest = "*"
black = "==19.10b0"
mypy = "*"
aiohttp-swagger = "*"
isort = "*"

[requires]
python_version = "3.8"
